.skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  place-content: center;
  gap: 1rem;
}

.skills-card {
  width: 23%;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  border-radius: 1rem;
  background: linear-gradient(145deg, #ffffff, #ebebeb);
  box-shadow: 5px 5px 10px #969696, -5px -5px 10px #ffffff;
  /* background: #6dd1ff;
  box-shadow: 5px 5px 10px #2c5466, -5px -5px 10px #aeffff; */
}

.skills-card svg {
  max-width: 10rem;
}

.skills-ellipses-icon {
  background-color: rgb(109, 209, 255);
  border-radius: 50%;
}

.skills-card__body-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  text-align: center;
}

@media only screen and (max-width: 676px) {
  .skills-card {
    width: 45%;
    padding: 0.5rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .skills-card {
    width: 95%;
  }

  .skills-card__heading {
    font-size: 1rem;
  }
}
