.about-main-1 {
  /* background-color: #6687c4; */
  /* background-color: rgb(119, 176, 195); */
  /* background-color: rgb(26, 81, 148); */
  background: linear-gradient(rgb(26, 81, 148), rgb(119, 176, 195));

  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  place-items: center;
}

.about-main-2,
.about-main-3 {
  background-color: rgb(119, 176, 195);
}

.about-header {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
  row-gap: 0.5rem;
  color: #fff;
}

.about-header h1 {
  font-size: 3rem;
}

.about__content-container {
  display: flex;
  justify-content: space-around;
  place-items: center;
  column-gap: 2rem;
  row-gap: 1rem;
  margin: 1rem 0;
  max-width: 1400px;
  width: 100%;
}

.about__content-text {
  display: grid;
  row-gap: 1rem;
  color: #fff;

  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 15px rgba(0 0 0 / 0.25);
  box-shadow: 0 0 15px rgba(0 0 0 / 0.25);
}

.about__content-text--header {
  display: grid;
  row-gap: 0.5rem;
  border-bottom: 1px solid rgb(119, 176, 195);
  margin-bottom: 0.5rem;
}

.about__content-text--header-name {
  font-size: 2.5rem;
}

.about__content-text--header-title {
  font-size: 1.25rem;
}

.about__content-headshot {
  width: 100%;
  max-width: 20rem;
  border-radius: 50%;
  border: 4px solid white;
  -webkit-box-shadow: 0 0 15px rgba(0 0 0 / 0.25);
  box-shadow: 0 0 15px rgba(0 0 0 / 0.25);
}

#g-a-link {
  background-color: rgb(216, 81, 81);
  padding: 0 0.25rem;
  border-radius: 1rem;
}

@media only screen and (max-width: 676px) {
  .about__content-container {
    display: grid;
  }

  .about__content-text {
    text-align: center;
    order: 2;
  }

  .about__content-text--header {
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  .about__content-text--header-name {
    font-size: 1.5rem;
  }

  .about__content-text--header-title {
    font-size: 1rem;
  }

  .about__content-headshot {
    order: 1;
  }
  .about-header {
    padding: 1rem;
  }

  .about-header h1 {
    font-size: 2rem;
  }
  .about__content-text {
    padding: 5%;
  }
}

/* 

a.doctorate {
  color: #f47525;
}

a.doctorate:hover {
  color: #0d5330;
}


.about-heading {
  text-align: center;
  border-bottom: 2px solid black;
}

.about-caption-container {
  display: grid;
  place-items: center;
}

.about-caption {
  color: black;
  font-weight: 400;
  text-align: center;
  font-family: 'ubuntu';
  max-width: 60rem;
  padding: 0 2rem;
}

.about-heading2 {
  margin-top: 5%;
  text-align: center;
  letter-spacing: 0.25vmin;
  text-decoration: underline;
}

.skills-list {
  list-style: none;
  display: grid;
  place-items: center;
  border-radius: 1.5ch;
  background: rgb(174, 213, 255);
  box-shadow: 0px 1px 10px #999;
  padding: 2%;

  transition: 0.5s;
}

.skills-list:hover {
  box-shadow: 0px 1px 10px 4px #999;
}

@media (min-width: 701px) {
  .skills-list {
    grid-template-columns: 50% 50%;
  }

  @media (min-width: 1200px) {
    .skills-list {
      grid-template-columns: 25% 25% 25% 25%;
    }
  }
}

.skills-list li {
  padding: 1vmin;
  text-align: center;
}



.resume-link {
  color: red;
  font-size: 4em;
  text-align: center;
  padding: 0.4em;
  padding-top: .5em;
  opacity: 1;
  border-radius: 1ch;

  transition: 0.5;
}

.resume-link:hover {
  color: red;
  opacity: 0.65;
  box-shadow: 0px 1px 10px #999;
}

.resume-link:active {
  box-shadow: 0px 1px 10px 4px #999;
} */
