@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Raleway&family=Ubuntu&display=swap');

body {
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	/* overflow: hidden; */
}

/* HOME */

.home-main {
	background-image: url(https://www.newenglandinnsandresorts.com/sites/default/files/styles/2048/public/media-images/Jordan-Pond-Acadia-National-Park.jpg?itok=YaNtml2f);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;

	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration: none;
	transition: 0.5s;
	color: white;
}

a:hover {
	color: black;
}

.home-title {
	font-size: 4vmin;
	background: rgba(37, 15, 15, 0.459);
	border-radius: 25px;

	padding: 2%;
	min-width: 50vw;
	max-width: 65vw;
	margin-bottom: 4%;
}

.home-title > *:hover {
	transition: 1s;
	color: rgb(253, 215, 143);
}

.home-title > h1 {
	color: rgb(250, 182, 187);
	margin-bottom: 0;
	text-align: left;
	border-bottom: 1px solid rgb(250, 182, 187);
}

.home-title > h2 {
	margin-top: 0;
	color: rgb(106, 198, 252);
	font-size: 4vmin;
	text-align: right;
	/* border-top: 1px solid rgb(106, 198, 252); */
	/* text-decoration: overline; */
}

/* NAV */

.nav-container {
	/* margin: 0 auto; */
	background: rgb(236, 181, 149);
	min-height: 5vh;
	padding: 0.5vmin;

	display: flex;
	align-items: center;
	justify-content: space-between;

	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

.nav-container > * {
	font-size: 3vmin;
	text-align: center;
}

.nav-left {
	list-style: none;
	display: flex;
}

.nav-left > * {
	padding: 0 2vmin;
}

.nav-right {
	list-style: none;
	display: flex;
}
.nav-right > * {
	padding: 0 2vmin;
	font-size: 3vmin;
}

@media (max-width: 750px) {
	.home-title {
		font-size: 1.5rem;
	}
	.home-caption {
		font-size: 1rem;
	}
	.nav-container > * {
		font-size: 0.5rem;
	}
}

/* ABOUT */

/* OPTIONAL FOOTER */

.about-main {
	/* overflow: auto; */
	background: rgba(252, 232, 232, 0.719);
	margin: 0 auto;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	padding: 4vh;
	font-size: 1.2rem;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.about-heading {
	text-align: center;
	border-bottom: 2px solid black;
	margin: 1vmin 20%;
}

.about-caption {
	color: black;
	font-weight: 400;
	text-align: left;
	font-family: 'ubuntu';
	/* text-justify: inter-word; */
}

.stylish,
.modern,
.functional {
	/* color: rgb(98, 151, 211);
	padding: 0 0.5vmin;
	font-weight: 800;
	transition: 1s; */
}

.modern {
	/* color: rgba(125, 125, 255, 0.678); */
}

.functional {
	/* color: rgba(19, 22, 197, 0.466); */
}

.total-design {
	/* text-transform: uppercase;
	font-family: 'Krona One', sans-serif;
	font-size: 1.2rem;
	text-decoration: overline;
	color: rgb(173, 59, 116);
	transition: 0.5s; */
}

.stylish:hover,
.modern:hover,
.functional:hover {
	/* color: rgb(99, 62, 62); */
}



.total-design:hover {
	/* color: rgb(107, 96, 133); */
}

.finest-details {
	/* font-family: cursive;
	letter-spacing: 0.1vmin;
	color: rgb(226, 115, 115);
	text-decoration: underline;
	transition: 1s; */
}

.finest-details:hover {
	/* letter-spacing: 0.5vmin;
	color: rgb(219, 144, 144); */
}

.about-heading2 {
	margin-top: 8%;
	text-decoration: underline;
	text-align: center;
	letter-spacing: 0.5vmin;
}

.skills-list {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	padding: 0;
}

.skills-list li {
	padding: 1vmin;
	text-align: center;
}

.g-a-link {
	color: red;
}
.g-a-link:hover {
	color: rgba(255, 0, 0, 0.568);
}

.about-heading3 {
	margin-top: 8%;
	text-decoration: underline;
	text-align: center;
	letter-spacing: 0.2vmin;
}

.resume-link {
	color: red;
	font-size: 4rem;
}

.resume-link:hover {
	color: rgba(255, 0, 0, 0.541);
}

/* Footer */

.about-footer {
	min-height: 5vh;

	background: rgb(236, 181, 149);
	color: white;
	font-family: 'ubuntu';
	font-size: 2.5vmin;
	letter-spacing: 0.5vmin;

	display: flex;
	align-items: center;
	justify-content: center;
}

.about-footer p {
	padding: 1vmin;
	border: 2px solid white;
	border-radius: 25px;
	transition: 1s;
}

.about-footer p:hover {
	color: black;
}

/* Projects */

.project-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	margin: 0 20vw;
}

.project-description-list {
	/* display: grid; */
	/* justify-content: center;
	align-items: center; */

	list-style: none;
	text-align: justify;
	text-justify: inter-word;
	font-family: 'Times New Roman', Times, serif;
	line-height: 30px;
	width: 45vw;
}

.project-sublist {
	font-size: 1rem;
	line-height: 20px;
	text-align: left;
	text-justify: auto;
}

.project-description-list a {
	color: rgba(0, 65, 139, 0.74);
}

.project-description-list a:hover {
	color: rgba(0, 0, 139, 0.5);
}
