@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  position: relative;
  overflow: hidden;
  line-height: 1.15;
}

.site-container {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  height: 100vh;
  max-height: -webkit-fill-available;
}

.page-container {
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  display: flex;
  flex: 1 1 0%;
}

main {
  flex-direction: column;
  display: flex;
  flex: 1 1 0%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  transition: 0.5s;
  color: white;
}

a:hover {
  color: black;
}

.bg-black {
  background: #000;
}

.spin {
  animation: spin 8s linear infinite;
}

.pulse {
  animation: pulse 2s cubic-bezier(0.1, 0, 0.6, 1) infinite;
}

/* ANIMATIONS */


@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* BOUNCE */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-1rem);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
}

/* Firefox < 16 */
@-moz-keyframes bounce {
  0%,
  100% {
    transform: translateY(-1rem);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes bounce {
  0%,
  100% {
    transform: translateY(-1rem);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
}

/* Internet Explorer */
@-ms-keyframes bounce {
  0%,
  100% {
    transform: translateY(-1rem);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
}

/* Opera < 12.1 */
@-o-keyframes bounce {
  0%,
  100% {
    transform: translateY(-1rem);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
}
/* END BOUNCE */

/* FADE IN */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* END FADE IN */

/* SLIDERIGHT */

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* Firefox < 16 */
@-moz-keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* Internet Explorer */
@-ms-keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* Opera < 12.1 */
@-o-keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* END SLIDERIGHT */

/* ROTATE */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Firefox < 16 */
@-moz-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Internet Explorer */
@-ms-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Opera < 12.1 */
@-o-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* END ROTATE */

/* ...DELETE ALL TO BOTTOM DURING REDESIGN... */

/* Projects */

.project-container {
  /* display: flex; */
  display: grid;
  font-size: 1rem;
  transition: 0.5;
}
@media (min-width: 701px) {
  .project-container {
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  .project-description-list {
    width: 100%;
    margin-right: 2%;
  }
}

@media (max-width: 700px) {
  .project-container {
    display: grid;
  }
  .ReactGridGallery {
    display: flex;
    justify-content: center;
  }
  @media (min-width: 400px) {
    .project-container {
      place-items: center;
    }
  }
  @media (max-width: 400px) {
    .project-container {
      justify-content: center;
    }
  }

  @media (min-width: 280px) {
    .project-link {
      white-space: nowrap;
    }
  }

  .project-description-list ul {
    width: 100%;
  }
}

.about-heading-subtitle-click {
  font-size: 0.75rem;
  display: inline-block;
}

.project-description-list {
  list-style: none;
  font-family: 'Raleway';

  line-height: 1.5em;
  max-width: 50vw;
}
@media (min-width: 701px) {
  .project-description-list {
    padding: 0;
  }
}

.project-sublist {
  font-size: 1rem;
  /* line-height: 20px; */
  text-align: left;
  text-justify: auto;
}

.project-sublist > * {
  padding: 0.5em 0;
}

.project-description-list a {
  color: rgba(0, 65, 139, 0.74);
}

.project-description-list a:hover {
  color: rgba(0, 0, 139, 0.5);
}

/* Contact */

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-info {
  list-style: none;
  line-height: 2.5rem;

  padding: 2%;
  border-radius: 1.5ch;
  background: rgb(174, 213, 255);
  box-shadow: 0px 1px 10px #999;

  transition: 0.5s;
  margin-bottom: 2rem;
}

.contact-info:hover {
  box-shadow: 0px 1px 10px 4px #999;
}

.email {
  color: rgb(40, 78, 114);
  transition: 0.5s;
}

.email:hover {
  color: black;
}

.contact-info a {
  color: rgb(40, 78, 114);
  transition: 0.5s;
  /* text-align: center; */
}

.contact-info a:hover {
  color: black;
}

.contact-info li {
  display: flex;
  justify-content: space-between;
  padding: 1vmin;
  border-radius: 0.5ch;
  transition: 0.75s;
}

.contact-info li:hover {
  background: rgb(134, 237, 255);
  box-shadow: 0px 0px 25px 0px #999;
}

.contact-key {
  padding-right: 4vw;
  font-family: arial;
  font-weight: 600;
}

@media (max-width: 700px) {
  .contact-info li {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
  .contact-key,
  .email {
    padding: 0;
    text-align: center;
  }
}
